.dropdownMenu {
    left: 0;
    top: 0;
    background-color: #2171B5;
    padding: 40px;
    width: 200px;
    height:100vh;
    position: fixed;
}

.dropdownMenu a {
    font-size: 20px;
    font-weight: semibold;
    color: white;
    padding: 20px;
    display: block;
}


.hamburger {
    top: 0;
    right: 0;
    background-color: #2171B5;
    width: 50px;
    height: 50px;
    z-index: 1000;
    visibility: hidden;
}

@media (max-width: 1100px) {  /* visible only when screen is 1100px or smaller */
    .hamburger {
        visibility: visible;
    }
}


.header-bar {
    top: 0;
    left: 0; /* make sure it starts at left edge of screen */
    width: 100vw; /* spans entire viewport width */
    background-color: white;
    position: absolute; /* only header bar absolute for this, other elements get manipulated through display, etc. */
    border-bottom-color: grey;
    border-top-color: #2171B5;
    border-style: solid; /* why is there not a default for this, why need to specify? */
    border-width: 8px 0 0.7px 0;
    display: flex;
    flex-direction: column;
}

.header-row-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo-link {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.logo-link img {
    height: 60px;
}


.logo-link:hover {
    color: #2171B5;
}

.header-row-two {
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px) {  /* visible only when screen is 1100px or bigger */
    .header-row-two {
        display: none;
    }
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content a {
    font-size: 20px;
    font-weight: bold;
}

.header-individual-items {
    display: inline-flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    color: #2171B5; /* default text and icon color */
    background-color: transparent; /* default background color */
    cursor: pointer;
    padding: 10px 20px;
}

.header-individual-items:hover {
    background-color: #2171B5;
    color: white; /* change text color on hover */
}

.header-individual-items a {
    color: inherit;
}

.toggle-icon {
    color: inherit; /* icon's color always matches wrapper's */
}

.collapse-content {
    width: 240px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.collapse-content a {
    display: flex;
    color: #2171B5;
    background-color: #f8f8f8;
    width: 200px;
    padding: 10px 20px;
    border-style: solid;
    border-width: 0.8px;
    border-color: grey;
}

.collapse-content a:hover {
    background-color: #2171B5;
    color: white;
}

.collapse-header {
    display: flex;
    flex-direction: column;
}
